{% load i18n %}
{% load staticfiles %}
{% load taxed_prices %}
{% load get_thumbnail from product_images %}
{% load placeholder %}

{% for product, availability in products %}
  <div class="col-6 col-lg-3 product-list">
    <a href="{{ product.get_absolute_url }}" class="link--clean">
      <div class="text-center">
        <div>
          <div class="product-image">
            <img class="img-responsive lazyload lazypreload"
                 data-src="{% get_thumbnail product.get_first_image method="thumbnail" size=255 %}"
                 data-srcset="{% get_thumbnail product.get_first_image method="thumbnail" size=255 %} 1x, {% get_thumbnail product.get_first_image method="thumbnail" size=510 %} 2x"
                 alt=""
                 src="{% placeholder size=255 %}">
            </div>
          <span class="product-list-item-name" title="{{ product.translated }}">{{ product.translated }}</span>
        </div>
        <div class="panel-footer">
          {% if availability.available %}
            {% with product.get_quantity_available as quantity_available %}
            <div>
            {% if request.user.is_staff %}
              {{product.get_quantity_available}} unit{{quantity_available|pluralize}}
            {% else %}
              {% if quantity_available  == 1 %}
              Last piece
              {% elif quantity_available <= 3 %}
              {{product.get_quantity_available}} unit{{quantity_available|pluralize}}
              {% endif %}
            {% endif %}
            </div>
            {% endwith %}
            <div>{% price_range availability.price_range %}</div>
            {% if availability.discount %}
              {% if availability.price_range_undiscounted.start != availability.price_range.start %}
                <div class="product-list__sale">
                  <svg data-src="{% static "images/sale-bg.svg" %}" />
                  <span class="product-list__sale__text">
                    {% comment %}Translators: Layout may break if character length is different than four.{% endcomment %}
                    {% trans "Sale" context "Sale (discount) label for item in product list" %}
                  </span>
                </div>
              {% endif %}
            {% endif %}
          {% else %}
            <div class="alert alert-warning">Out of stock</div>
          {% endif %}
        </div>
      </div>
    </a>
  </div>
{% endfor %}
